/* =============================================
 * Waybar Colors - Gerado em dom 15 fev 2026 10:38:48 -03
 * ============================================= */

@define-color background #484E55;
@define-color background-alt #484e55;
@define-color foreground #FFFFFF;
@define-color selected #b5b8bb;
@define-color urgent #63686e;
@define-color warning #9a9da1;
@define-color success #7e8388;

@define-color color0 #484e55;
@define-color color1 #63686e;
@define-color color2 #7e8388;
@define-color color3 #9a9da1;
@define-color color4 #b5b8bb;
@define-color color5 #d1d2d4;
@define-color color6 #ecedee;
@define-color color7 #108107;
@define-color color8 #123122;
@define-color color9 #13f13c;
@define-color color10 #15a157;
@define-color color11 #175172;
@define-color color12 #19118c;
@define-color color13 #1ac1a7;
@define-color color14 #1c81c1;
@define-color color15 #1e31dc;

@define-color module-bg rgba(0, 0, 0, 0.3);
@define-color module-hover #b5b8bb;
@define-color module-fg #FFFFFF;

@define-color workspace-btn #484e55;
@define-color workspace-active #b5b8bb;
@define-color workspace-hover #ecedee;
@define-color workspace-urgent #63686e;

@define-color critical #63686e;
@define-color good #7e8388;
@define-color normal #FFFFFF;
@define-color idle #123122;
